body{
    background-image: url("Mathbg.jpg");
    background-repeat: no-repeat;
    background-size: 105%;
}
.form{
    position :absolute;
    top: 20%;
    left: 40%;
    background-color:black;
    border: 20px solid black;
    border-radius: 10px;
}
.display {
    background-color: rgb(73, 182, 255);
    padding: 15px;
    width: 225px;
    height: 50px;
    text-align: right;
    font-size: 20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

button {
    width: 60px;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    color: black;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 70px;
}
.first-row .clear {
    background-color: orange;
}
.fifth-row .egal{
    background-color: rgb(102, 255, 102);
}

.fifth-row .egal:hover{
    cursor: pointer;
    background-color: rgb(4, 161, 51);
}
.fifth-row .egal:active{
    background-color: rgb(1, 117, 36);
}

.first-row .clear:hover {
    cursor: pointer;
    background-color: rgb(207, 135, 1);
}
.first-row .clear:active {
    background-color: rgb(153, 100, 1);
}

button:hover {
    cursor: pointer;
    background-color: rgb(182, 178, 178);
   }
   button:active {
    background-color: rgb(136, 136, 136);
   }