*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #182C61;
}

.calculator{
    width: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calculator span{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #eee;
    font-size: 1.2em;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid black;
}

.calculator span:hover{
    cursor: pointer;
    background: grey;
}


.calculator .operations{
    background: #393e46;
    color: #fff;
}

.calculator .operations:hover{
    background: #000000;
}

.calculator .clear{
    background: #fd7272;
    color: #fff;
}

.calculator .clear:hover{
    background: #ff5151;
}

.calculator .inputArea{
    grid-column: span 4;
    padding: 20px 10px;
    outline: none;
    border: none;
    font-style: 1.3em;
    font-size: 20px;
    height:100px;

}
 .calculator .perc{
     grid-row: span 2;
     height: 120px;
     line-height: 120px;
     background: #393e46;
     color: #fff;
 }

 .calculator .perc:hover{
    background: black
 }

 .calculator .equal{
     width: 120px;
     grid-column: span 2;
     background: #4b7bec;
     font-size: 1.8em;
 }

 .calculator .equal:hover{
    background: #0046e9;
 }
 #history{
     width: 240px;
     height: 400px;
     overflow-y: scroll;
     font-style: 1.1em;
     background: #4b7bec;
     box-sizing: border-box;
     padding: 10px 20px;
 }

 #history::-webkit-scrollbar{
     width: 0;
 }

 #history h3{
     padding: 10px 0px;
     font-size: 1.2em;
 }

 #history p:last-child{
     font-size: 1.3em;
     font-weight: 500;
     color: #eee;
 }

